body, html {
    height: 95%;
}

body,h1,h2,h3,h4,h5,h6,a {
    font-family: "Amatic SC", sans-serif;
}

body {
	background-image: url("https://lh3.googleusercontent.com/DEkhMX12O2FobE1vphaezMT_qdRrEXb8YXGi8dWoaO1gO65Ony01SuneFRwnEvjgOjjtvDcpy4uax29fM61VfdO6tSBH_ozFzzO9CLSz58zcYOKSL-WhtT-pnNIfUF_e7H3PybVMhQ=w600-h315-p-k");
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	padding:0;
	margin: 0;
}




.menu {
    display: none;
    overflow: hidden;
}


/* .bgimg { 

  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("https://lh3.googleusercontent.com/DEkhMX12O2FobE1vphaezMT_qdRrEXb8YXGi8dWoaO1gO65Ony01SuneFRwnEvjgOjjtvDcpy4uax29fM61VfdO6tSBH_ozFzzO9CLSz58zcYOKSL-WhtT-pnNIfUF_e7H3PybVMhQ=w600-h315-p-k"); */
  /* min-height: 90%;
} */ */



/* .modal-content {
  background-color: #da8181;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(80, 78, 78);
  width: 80%;
} */ 

#canvas{
    background-color: rgb(12, 15, 15);
}

#sign_up_form,#signInForm{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgb(238, 232, 153);
	border: 5px solid rgb(255, 255, 255);
	border-radius: 20px 20px;
	max-width: 750px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;

  }

#settings_form{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgb(238, 178, 218);
	border: 5px solid rgb(255, 255, 255);
	border-radius: 20px 20px;
	max-width: 750px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;

  }

  footer{
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font: rgb(214, 180, 180);
    text-align: center;    
    list-style-type: none;
    z-index: -1;
  }

  #show_settings_game_section,#game_online_info{

  width:25%;
	height: 640px;
	text-align:center;
	top:0;
	bottom: 0;
	float: left;
	padding: 40px;
	background-color:#47aad8;
  border: 5px solid rgb(255, 255, 255);
  }

  #game{
  text-align: center;
	float: left;
	width:50%;
	border-color: rgb(0, 0, 0);
	height: 640px;
  }

  #about{
    position: fixed; /*Stay in place */
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(164, 85, 201); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
   
    
    /* Content inside modal dialog */
  #modal_contant{
    /* Makes modal come from top to bottom */
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    
    background-color: rgb(164, 85, 201);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
    
  .close:hover,.close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
